.vs/
.vshistory/
CoreExtended.Test/bin/
CoreExtended.Test/obj/
CoreExtended/bin/
CoreExtended/obj/
packages/
CoreExtended.SystemInfo/bin/
CoreExtended.SystemInfo/obj/
CoreExtended.UnitTest/bin/
CoreExtended.UnitTest/obj/
